
  <div class="tnavbar">
  <div class="tlogo">
      <%= image_tag('1.png', :class => "logoimg") %>
      <h3 class="title"> Out of Home</h3>
  </div>
  
  <div>
  <% if @user %>
    <%= button_to "Logout" , logout_path,method: :delete %>
<% end %>  
  </div>
</div>
  
  
<div class="dash-content">
    <div class="sidebar">
    
<div><h3 style="margin:40px">Pepsi</h3></div>

        
        <div class='item'>Profile</div>
        <div class='item'>View All Billboads</div>
        
        <%= link_to "Pending Requests", pending_path, class:"item"%>
        <%= link_to "Book BillBoard", viewbillboards_path, class:"item"%>

    </div>
    <div class='item-data'></div>
</div>